@model IEnumerable<MvcXML.Models.ProjectModels>
<MvcXML.Models.ProjectModels>
  @{

      ViewBag.Title = "Index";

}



<div class="topDiv">
    <fieldset style="text-align: center">
        <h4>

            @Html.ActionLink("Add New project", "AddEditProject", new { id = "test" }, new { @class = "btn btn-primary btn-sm" }) 

        </h4>
    </fieldset>
    <fieldset>
        <table class="table table-bordered table-striped table-round">
            <tr style="">
                <th>

                    ProjectName

                </th>
                <th>

                    Location

                </th>
                <th>

                    Manage

                </th>
            </tr>

            @{

                foreach (var item in Model)

                {


                    <tr>
                        <td>

                            @item.ProjectName

                        </td>
                        <td>

                            @item.Location

                        </td>
                        <td>

                            @Html.ActionLink("Edit", "AddEditProject", new { id = @item.Id }, new { @class = "btn btn-primary btn-sm" })   @Html.ActionLink("Delete", "Delete", new { id = @item.Id }, new { @class = "btn btn-primary btn-sm" })

                            @* /@Html.ActionLink("Details", "ProjectDetails", new { basePath = @item.basePath })*@

                        </td>
                    </tr>

                }

            }


        </table>
    </fieldset>
</div>  